<div class="h-screen w-full bg-white97">
  <div
    class="flex flex-col items-center justify-center min-h-screen bg-white rounded-lg p-10"
  >
    <div class="bg-white p-8 rounded-lg shadow-md w-96">
      <p class="text-3xl font-semibold mb-4 text-center font-vetnam">Login</p>
      <p class="mb-6">Welcome back! Please log in to access your account.</p>

      <!-- Form -->
      <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
        <div class="mb-4">
          <label for="email" class="block mb-2.5 font-medium">Email</label>
          <input
            type="email"
            id="email"
            placeholder="Enter your email"
            class="w-full border p-5 rounded-lg bg-white95 focus:outline-none focus:border-ornge50"
            ngModel
            #emailInput="ngModel"
            required
            email
            name="email"
          />
        </div>

        <div class="mb-4">
          <label for="password" class="block mb-2.5 font-medium"
            >Password</label
          >
          <div class="relative">
            <input
              type="password"
              id="password"
              placeholder="Enter your password"
              class="w-full border p-5 rounded-lg bg-white95 focus:outline-none focus:border-ornge50"
              ngModel
              #passwordInput="ngModel"
              name="pasword"
            />
            <div class="absolute inset-y-0 right-0 pr-3 flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M12.001 15C13.6578 15 15.001 13.6569 15.001 12C15.001 10.3431 13.6578 9 12.001 9C10.3441 9 9.00098 10.3431 9.00098 12C9.00098 13.6569 10.3441 15 12.001 15Z"
                  fill="#4C4C4D"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M1.32439 11.4467C2.81164 6.97571 7.02889 3.75 12.0015 3.75C16.9718 3.75 21.1874 6.97271 22.6765 11.4405C22.7969 11.8015 22.797 12.1922 22.6769 12.5533C21.1896 17.0243 16.9723 20.25 11.9997 20.25C7.02945 20.25 2.81381 17.0273 1.32472 12.5595C1.20437 12.1985 1.20426 11.8078 1.32439 11.4467ZM17.251 12C17.251 14.8995 14.9005 17.25 12.001 17.25C9.10148 17.25 6.75098 14.8995 6.75098 12C6.75098 9.1005 9.10148 6.75 12.001 6.75C14.9005 6.75 17.251 9.1005 17.251 12Z"
                  fill="#4C4C4D"
                />
              </svg>
            </div>
          </div>
        </div>

        <p *ngIf="">Invalid credencials</p>

        <button
          type="submit"
          class="w-full bg-ornge50 text-white p-2 rounded-lg hover:bg-white hover:text-ornge50 transition duration-300"
        >
          Login
        </button>
        <!-- Forgot Password link -->
        <p class="pt-4 text-center">
          <a
            routerLink="/forgot-password"
            class="text-gray-500 hover:underline cursor-pointer"
            >Forgot Password?</a
          >
        </p>
      </form>

      <!-- Separator -->
      <div class="flex items-center my-6">
        <div class="border-t border-gray-300 flex-grow"></div>
        <div class="mx-4 text-gray-500">OR</div>
        <div class="border-t border-gray-300 flex-grow"></div>
      </div>

      <!-- Login with Google -->
      <div
        id="g_id_onload"
        data-client_id="1034587225888-e3lqmi5ftimlotovupeo08ld6ha9o1cm.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-login_uri="http://localhost:4300/api/v1/login"
        data-auto_select="true"
        data-itp_support="true"
      ></div>

      <div
        class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="center"
        data-width="320"
      ></div>

      <!-- Don't have an account? Sign Up -->
      <p class="pt-4 text-center">
        Don't have an account?
        <a routerLink="/register" class="text-ornge50 underline cursor-pointer"
          >Sign Up</a
        >
      </p>
    </div>
  </div>
</div>
