<div class="w-full h-60 font-vetnam">
  <div class="w-full">
    <div class="w-full h-fit mx-auto">
      <div
        class="bg-white w-fit mx-auto font-vetnam rounded-lg flex items-center justify-center px-2 py-2"
      >
        <div class="rounded-lg flex items-center">
          <img
            src="../../../assets/images/IconCont.png"
            alt="icon"
            class="w-3/4"
          />
        </div>
        <div
          class="font-medium text-base sm:text-3xl md:text-4xl lg:text-5xl py-1"
        >
          <span class="text-ornge50">Unlock</span> Your Creative Potential
        </div>
      </div>
      <div class="mt-6 text-2xl text-grey15">
        <h1
          class="text-center sm:text-3xl md:text-4xl font-medium px-4 md:px-0"
        >
          with Online Design and Development Courses.
        </h1>
        <p
          class="text-center -mt-12 px-4 md:p-0 text-sm sm:text-base md:text-lg font-normal"
        >
          Learn from Industry Experts and Enhance Your Skills.
        </p>
      </div>
      <div class="flex justify-center mt-6">
        <button class="bg-ornge50 text-white rounded px-4 py-2 mr-4">
          Explore Courses
        </button>
        <button class="bg-white rounded border px-4 py-2">View Pricing</button>
      </div>
    </div>
  </div>
</div>


